<ion-view view-title="About" title-center cache-view="true">
<!-- Shadow space -->
<div class="bar item-input-inset" style="border:none;box-shadow: 0 1px 2px #aaa"></div>
<ion-content overflow-scroll=true scroll-sista="tabs" style="background-color: #fff; z-index:0; margin-top:12px;">
<!-- White Space -->
<div style="height:55px;background:transparent" ng-show="searchbutton"></div>
<div style="height:200px;background:transparent" ng-show="filterbutton"></div>
<center><img ng-src="img/sportman.png" style="height:70px;width:60px;margin:30px 0px 5px 0px;"/></center>
<div class="padding">
	<p>Sportman adalah Aplikasi yang akan memudahkan anda dalam mengatur kompetisi atau perlombaan olahraga. Melalui sportman, anda dapat membuat kompetisi, membuat jadwal kompetisi, dan lain-lain.</p><p>Saat ini sportman sedang dalam fase alpha testing dimana fitur-fitur yang ada belum memenuhi security compliance. Kritik dan saran anda sangat kami perlukan dan harap dikirimkan ke jimmy10d@gmail.com.</p><p style="font-style:italic;">“This could be a new way to manage sport competition. Everything in one app, and it’s a mobile app.”
-Jimmy Chen</p>
<small>Created by Jimmy Chen 2017</small>
<textarea style="width: 100%; height: 100px;border: 1px solid #e5e1e1;padding: 10px;margin-top: 20px">Type your feedback here....</textarea>
<input type="submit" value="Send Feedback" class="button button-block button-calm-900 text-center" ng-click="login()" style="background-color:#133f69; border-radius:8px;"></input>
</div>
</ion-content>
</ion-view>