<ion-view view-title="Change Password" hide-back-button="true" text-center cache-view="false">
<!-- Back button -->
<ion-nav-buttons side="left">
<!-- Back button -->
<button class="button button-clear icon-button mdi mdi-arrow-left" ng-click="backProfile()"></button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
<!-- Submit button -->
<button class="button button-clear icon-button icon ion-checkmark" ng-click="editPassword()" style="min-height:0"></button>
</ion-nav-buttons>
<!-- Shadow space -->
<div class="bar item-input-inset" style="border:none;box-shadow: 0 1px 2px #aaa"></div>
<ion-content overflow-scroll=true scroll-sista="tabs" style="background-color:#fff;">
<!-- Form post -->
<form method="post" enctype="text/plain">          
  <!-- Input Text -->
  <div class="list padding">
    <label class="item item-input item-floating-label" style="padding:0">
      <span class="input-label">Email</span>
      <input id="title" type="text" placeholder="Email" ng-model="profile.email">
    </label>

    <label class="item item-input item-floating-label" style="padding:0">
      <span class="input-label">New Password</span>
      <input id="title" type="password" placeholder="Password" ng-model="profile.password">
    </label> 

    <!-- <label class="item item-input item-floating-label" style="padding:0">
      <span class="input-label">New Password</span>
      <input id="title" type="password" placeholder="New Password" ng-model="profile.newPassword">
    </label>   -->      
  </div> 
</form>
</ion-content>
</ion-view>