<ion-view view-title="Login" name="login-view" hide-nav-bar="true" class="login">
<ion-content class="padding" style="overflow:hidden; background: url(img/bg2.png) center; background-size: cover;">
<center><img src="img\logo2.png" class="login-image"></center>
<form method="post" enctype="text/plain">
  <div class="list login-list" style="margin-top:-50px;">
    <label class="item item-input item-floating-label">
      <span class="input-label">Email</span>
      <input type="email" placeholder="Email" ng-model="data.email" class="input-login">
    </label>
  </div>
  <div class="row">
    <div class="col">
      <input type="submit" value="Send" class="button button-block button-calm-900 text-center" ng-click="login()" style="background-color:#1a6d65; border-radius:8px;"></input>
    </div>
  </div>
</form>
<div class="row">
  <div class="col">
    <p style="text-align:center; color:white;"><a style="color:white;text-decoration:none" ng-click="logout()">Go to Login Page</a> <!-- | <a style="color:white; font-weight:bold; text-decoration:none" href="#/register">Register</a> --></p>
  </div>
</div>
</ion-content>
</ion-view>