<ion-view view-title="Login" name="login-view" hide-nav-bar="true" class="login" cache-view="false">
<ion-content overflow-scroll=true  scroll-sista="tabs"class="padding" style="overflow:hidden; background: url(img/bg2.png) center; background-size: cover;">
<center><img src="img\logo2.png" class="login-image"></center>
<p style="color:white;font-size:25px;font-weight:bold;text-align:center;margin-bottom:60px;">SportMan</p>
<form method="post" enctype="text/plain">
  <center><div class="list login-list" style="margin-top:-50px;">
    <label class="item item-input item-floating-label">
      <span class="input-label">Username</span>
      <input style="color:white"; type="text" placeholder="Username" ng-model="data.username" class="input-login">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Password</span>
      <input type="password" placeholder="Password" ng-model="data.password" class="input-login">
    </label>
  </div></center>
  <div class="row">
    <div class="col">
      <center><input type="submit" value="Login" class="button button-block button-calm-900 text-center login-submit" style="background:#1a6d65;" ng-click="login()"></input></center>
    </div>
  </div>
</form>
<div class="row">
  <div class="col">
    <center><p style="text-align:center;"><a style="color:white;text-decoration:none" href="#/app/forgot_password">I forgot my password</a></p></center>
  </div>
</div>
<div class="row">
  <div class="col">
    <p style="text-align:center; color:white;">No account yet? Register <a style="color:white; font-weight:bold; text-decoration:none" href="#/register">here</a></p>
  </div>
</div>
</ion-content>
</ion-view>