<ion-view view-title="Add Member" cache-view="false">
<!-- Back Button -->
<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-chevron-left" ng-click="back()" style="font-size:25px"></button>
</ion-nav-buttons>

<ion-content overflow-scroll=true scroll-sista="tabs" style="background-color: #F1F5F8;">

<!-- Search box -->
<div class="bar item-input-inset" style="border:none; margin-top:8px; background-color:white !important;">
  <input id="search" type="text" placeholder=" Search by username..." ng-model="search.nama" style="width:100%; height:60px; padding-left:16px;"/>
  <!-- button disable -->
    <ion-button ng-hide="search.nama.length > 0" class="icon mdi mdi-magnify pull-right" style="font-size: 25px; padding: 13px 0 0 15px; color:rgb(141, 127, 127);height:50px; width:60px; opacity: 0.7;"></ion-button>   
    <!-- button enable -->
    <ion-button type="submit" ng-show="search.nama.length > 0" ng-click="searchData()" class="icon mdi mdi-magnify pull-right" style="font-size: 25px; color:rgb(10, 176, 254);height:50px; width:60px;padding: 13px 0 0 15px;"></ion-button>
</div>
<!-- List of User-->
<p style="text-align:center;margin-top:150px;color: darkgray;" ng-show="people == undefined">You haven't searched anything yet...</p>

<p style="text-align:center;margin-top:150px;color: darkgray;" ng-show="people.length == 0" ng-hide="people.length != 0">Not Found</p>

  <a ng-repeat="data in people" class="item item-avatar" ng-click="userDetail('{{data.username}}')" style="margin: 6px; background-color: #ffffff; width: auto; border:1px solid #e6e6e6;">
    <img ng-src="{{data.photo}}" src="img/profile2.png">
    <div class="col" style="margin-top: 3px">
      <h2 style="margin-left: -26px;">{{data.username}}</h2>
      <p style="margin-left: -26px; margin-top: -2px">{{data.email}}
      </p>
    </div>
     <p style="margin-top:-39px; margin-left:170px; border-left:1px solid #e3e3e3; text-align: center; color: #4DB6AC" ng-click="inviteMember()">Invite</p>
  </a>

</ion-content>
</ion-view>
