<ion-view view-title={{team.team_name}} title-center cache-view="false">
<!-- Back Button -->
<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-chevron-left" ng-click="back()" style="font-size:25px"></button>
</ion-nav-buttons>
<!-- Right button -->
<ion-nav-buttons side="right">
<!-- Filter button -->
<a ng-href="#/app/search">
  <button class="button button-clear icon mdi mdi-plus button-search" style="min-height:0;font-size:25px"></button>
</a>
</ion-nav-buttons>
<!-- Fake button -->
<button ng-click="searchbutton = !searchbutton; filterbutton = false" id="searchbutton" style="display:none"></button>
<button ng-click="filterbutton = !filterbutton; searchbutton = false" id="filterbutton" style="display:none"></button>
<!-- Search bar -->
<div class="bar item-input-inset" style="border:none;margin-top:58px;margin-bottom:100px;position: fixed" ng-show="searchbutton">
  <i class="icon ion-ios-search placeholder-icon" style="background:white; height:56px; padding-top:16px; padding-left:11px;"></i><input id="search" type="text" placeholder=" Search..." ng-model="search" style="width:100%; height:60px;" />
</div>
<!-- Shadow space -->
<div class="bar item-input-inset" style="border:none;box-shadow: 0 1px 2px #aaa"></div>
<ion-content overflow-scroll=false scroll-sista="tabs" style="background-color: #ffffff; z-index:0; margin-top:12px;">
<!-- for refresh -->
<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()" refreshing-text="Fetching ..." refreshing-icon="ion-loading-b"></ion-refresher>
<!-- tab -->
<div class="row" ng-init="showme = 1" style="padding:0px;">
    <!--member -->
    <button class="col mdi mdi-account-multiple" ng-click="showme=1" ng-class="{'activeIcon':showme == 1}"style="font-size:20px;color:#897777;padding:10px;background-color:white;border:none;border-bottom:1px solid #e0dfdf;"></button>
    <!--schedule -->
    <button class=" col mdi mdi-calendar" ng-click="showme=2" ng-class="{'activeIcon':showme == 2}"style="font-size:20px;color:#897777;padding:10px;background-color:white;border:none;border-bottom:1px solid #e0dfdf;"></button>
    <!--chat -->
    <button class=" col mdi mdi-message" ng-click="showme=3" ng-class="{'activeIcon':showme == 3}"style="font-size:20px;color:#897777;padding:10px;background-color:white;border:none;border-bottom:1px solid #e0dfdf;"></button>  
</div>
<!-- tab -->

<!-- List of members-->
<div class="list" ng-show="showme==1" ng-if="haveMember=true">
  <!-- White area -->
  <div>
  <div ng-hide="searchmessage"></div>
  <!-- Data of members -->
  <h4 style="font-size: 18px; background-color: aliceblue; margin: 0px; padding: 4px;">Invited Member</h4>
  <a ng-repeat="data in invited_member" class="item item-avatar" style="border-bottom:2px solid #f0efef;">
    <img src="img/profile3.png">
    <div style="padding-top: 3px;height:40px;">
    <h2 style="margin-left: -26px">{{data}}</h2>
    <p style="margin-left: -26px; margin-top: -2px;">Coach</p>
    <p style="font-size:14px;color:black;margin-top:-32px;margin-left:160px;">waiting respond</p>
    </div>
  </a>

   <h4 style="font-size: 18px; background-color: aliceblue; margin: 0px; padding: 4px;">User Request</h4>
    <a ng-if="userRequestExist==true" ng-repeat="data in userRequestArr" class="item item-avatar" style="border-bottom:2px solid #f0efef;">
      <img src="img/profile3.png">
      <div style="padding-top: 3px;height:40px;">
      <h2 style="margin-left: -26px">{{data.username}}</h2>
      <p style="margin-left: -26px; margin-top: -2px;">{{data.email}}</p>
      <p style="font-size:14px;color:black;margin-top:-32px;margin-left:160px;" ng-click="addUserToTeamSquad('{{data.username}}')">Accept</p>
      <p style="font-size:14px;color:black;margin-top:-22px;margin-left:212px;border-left: 1px solid #4db6ac; padding-left: 8px;" ng-click="delTeamFromRequestedTeam('{{data.username}}')">Cancel</p>
      </div>
    </a>
  </div>
</div>

<div ng-show="showme==1" ng-if="haveMember=false">
  <h4 style="text-align: center;margin-top: 180px;padding: 4px;">No Member Yet</h4>
</div>
<!-- List of Member -->

<!-- List of schedules-->
<div class="list" ng-show="showme==2">
  <!-- White area -->
  <div ng-hide="searchmessage"></div>
  <!-- Data of schedules -->
  <a class="item item-avatar" style="border-bottom:2px solid #f0efef;padding-bottom:3px;">
    <div class="row">
      <div class="col" style="margin-left:-90px;margin-top:-20px;margin-right:30px;">
        <center>
          <div style="width:45px;height:25px;background-color:#4db6ac;padding-top:4px;margin-top:20px;border-top-left-radius:2px;border-top-right-radius:2px;">
            <p style="color:#ffffff; text-align:center; font-size:16px;">Sun</p>
          </div>
        <center>
        <div style="width:45px;height:30px;background-color:#ffffff;padding-top:4px;border:1px solid #d1d0d0;border-bottom-left-radius:2px;border-bottom-right-radius:20px;">
          <p style="color:#444; text-align:center; font-size:16px; margin:0px;">09</p>
        </div>
      </div>
      <div class="col">
        <div style="padding-top: 3px;height:40px;">
        <h2 style="margin-left: -26px">Arsenal vs City</h2>
        <p style="margin-left: -26px; margin-top: -2px;">Sun 09 Apr @ 02:00 PM</p>
        <button class="button button-clear icon-button mdi mdi-chevron-right" ng-click="more()" style="font-size:20px;color:black;margin-top:-65px;margin-left:210px;"></button>
        </div>
      </div>
    </div>
  </a>
  <a class="item item-avatar" style="border-bottom:2px solid #f0efef;padding-bottom:3px;">
    <div class="row">
      <div class="col" style="margin-left:-90px;margin-top:-20px;margin-right:30px;">
        <center>
          <div style="width:45px;height:25px;background-color:#4db6ac;padding-top:4px;margin-top:20px;border-top-left-radius:2px;border-top-right-radius:2px;">
            <p style="color:#ffffff; text-align:center; font-size:16px;">Sun</p>
          </div>
        <center>
        <div style="width:45px;height:30px;background-color:#ffffff;padding-top:4px;border:1px solid #d1d0d0;border-bottom-left-radius:2px;border-bottom-right-radius:20px;">
          <p style="color:#444; text-align:center; font-size:16px; margin:0px;">09</p>
        </div>
      </div>
      <div class="col">
        <div style="padding-top: 3px;height:40px;">
        <h2 style="margin-left: -26px">Arsenal vs City</h2>
        <p style="margin-left: -26px; margin-top: -2px;">Sun 09 Apr @ 02:00 PM</p>
        <button class="button button-clear icon-button mdi mdi-chevron-right" ng-click="back()" style="font-size:20px;color:black;margin-top:-65px;margin-left:210px;"></button>
        </div>
      </div>
    </div>
  </a>
  <a class="item item-avatar" style="border-bottom:2px solid #f0efef;padding-bottom:3px;">
    <div class="row">
      <div class="col" style="margin-left:-90px;margin-top:-20px;margin-right:30px;">
        <center>
          <div style="width:45px;height:25px;background-color:#4db6ac;padding-top:4px;margin-top:20px;border-top-left-radius:2px;border-top-right-radius:2px;">
            <p style="color:#ffffff; text-align:center; font-size:16px;">Sun</p>
          </div>
        <center>
        <div style="width:45px;height:30px;background-color:#ffffff;padding-top:4px;border:1px solid #d1d0d0;border-bottom-left-radius:2px;border-bottom-right-radius:20px;">
          <p style="color:#444; text-align:center; font-size:16px; margin:0px;">09</p>
        </div>
      </div>
      <div class="col">
        <div style="padding-top: 3px;height:40px;">
        <h2 style="margin-left: -26px">Arsenal vs City</h2>
        <p style="margin-left: -26px; margin-top: -2px;">Sun 09 Apr @ 02:00 PM</p>
        <button class="button button-clear icon-button mdi mdi-chevron-right" ng-click="more()" style="font-size:20px;color:black;margin-top:-65px;margin-left:210px;"></button>
        </div>
      </div>
    </div>
  </a>
  <a class="item item-avatar" style="border-bottom:2px solid #f0efef;padding-bottom:3px;">
    <div class="row">
      <div class="col" style="margin-left:-90px;margin-top:-20px;margin-right:30px;">
        <center>
          <div style="width:45px;height:25px;background-color:#4db6ac;padding-top:4px;margin-top:20px;border-top-left-radius:2px;border-top-right-radius:2px;">
            <p style="color:#ffffff; text-align:center; font-size:16px;">Sun</p>
          </div>
        <center>
        <div style="width:45px;height:30px;background-color:#ffffff;padding-top:4px;border:1px solid #d1d0d0;border-bottom-left-radius:2px;border-bottom-right-radius:20px;">
          <p style="color:#444; text-align:center; font-size:16px; margin:0px;">09</p>
        </div>
      </div>
      <div class="col">
        <div style="padding-top: 3px;height:40px;">
        <h2 style="margin-left: -26px">Arsenal vs City</h2>
        <p style="margin-left: -26px; margin-top: -2px;">Sun 09 Apr @ 02:00 PM</p>
        <button class="button button-clear icon-button mdi mdi-chevron-right" ng-click="more()" style="font-size:20px;color:black;margin-top:-65px;margin-left:210px;"></button>
        </div>
      </div>
    </div>
  </a>
  <a class="item item-avatar" style="border-bottom:2px solid #f0efef;padding-bottom:3px;">
    <div class="row">
      <div class="col" style="margin-left:-90px;margin-top:-20px;margin-right:30px;">
        <center>
          <div style="width:45px;height:25px;background-color:#4db6ac;padding-top:4px;margin-top:20px;border-top-left-radius:2px;border-top-right-radius:2px;">
            <p style="color:#ffffff; text-align:center; font-size:16px;">Sun</p>
          </div>
        <center>
        <div style="width:45px;height:30px;background-color:#ffffff;padding-top:4px;border:1px solid #d1d0d0;border-bottom-left-radius:2px;border-bottom-right-radius:20px;">
          <p style="color:#444; text-align:center; font-size:16px; margin:0px;">09</p>
        </div>
      </div>
      <div class="col">
        <div style="padding-top: 3px;height:40px;">
        <h2 style="margin-left: -26px">Arsenal vs City</h2>
        <p style="margin-left: -26px; margin-top: -2px;">Sun 09 Apr @ 02:00 PM</p>
        <button class="button button-clear icon-button mdi mdi-chevron-right" ng-click="more()" style="font-size:20px;color:black;margin-top:-65px;margin-left:210px;"></button>
        </div>
      </div>
    </div>
  </a>
</div>
<!-- List of chats-->
<div class="list" ng-show="showme==3">
  <!-- White area -->
  <div ng-hide="searchmessage"></div>
  <!-- Data of chats -->
  <a class="item item-avatar" style="border-bottom:2px solid #f0efef;" ng-click="goToChatDetail()">
   <img src="img/profile3.png">
    <div style="padding-top: 3px;height:40px;">
    <h2 style="margin-left: -26px; width:100px;">Jims</h2>
    <p style="margin-left: -26px; margin-top: -2px;">Semangat skripsi boy</p>
    <p style="margin-left: 200px; margin-top: -40px;">10:00 PM</p>
    </div>
  </a>
 <a class="item item-avatar" style="border-bottom:2px solid #f0efef;">
    <img src="img/profile3.png">
    <div style="padding-top: 3px;height:40px;">
    <h2 style="margin-left: -26px">Jims</h2>
    <p style="margin-left: -26px; margin-top: -2px;">Semangat skripsi boy</p>
    <p style="margin-left: 200px; margin-top: -40px;">10:00 PM</p>
    </div>
  </a>
  <a class="item item-avatar" style="border-bottom:2px solid #f0efef;">
  <img src="img/profile3.png">
    <div style="padding-top: 3px;height:40px;">
    <h2 style="margin-left: -26px">Jims</h2>
    <p style="margin-left: -26px; margin-top: -2px;">Semangat skripsi boy</p>
    <p style="margin-left: 200px; margin-top: -40px;">10:00 PM</p>
    </div>
  </a>
  <a class="item item-avatar" style="border-bottom:2px solid #f0efef;">
   <img src="img/profile3.png">
    <div style="padding-top: 3px;height:40px;">
    <h2 style="margin-left: -26px">Jims</h2>
    <p style="margin-left: -26px; margin-top: -2px;">Semangat skripsi boy</p>
    <p style="margin-left: 200px; margin-top: -40px;">10:00 PM</p>
    </div>
  </a>
  <a class="item item-avatar" style="border-bottom:2px solid #f0efef;">
 <img src="img/profile3.png">
    <div style="padding-top: 3px;height:40px;">
    <h2 style="margin-left: -26px">Jims</h2>
    <p style="margin-left: -26px; margin-top: -2px;">Semangat skripsi boy</p>
    <p style="margin-left: 200px; margin-top: -40px;">10:00 PM</p>
    </div>
  </a>
</div>
<!-- White Space -->
<div style="height:55px;background:transparent" ng-show="searchbutton"></div>
<div style="height:200px;background:transparent" ng-show="filterbutton"></div>
<!--List Posting-->
</ion-content>
</ion-view>